<section class="comment">
  <div class="container">
    <div>
      <picture class="comment_card_image">
        <source
          srcset="
            ./images/persondesktop@2x.png 2x,
            ./images/persondesktop@1x.png 1x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/persontablet@2x.png 2x,
            ./images/persontablet@1x.png 1x
          "
          media="(min-width: 772px)"
        />
        <source
          srcset="
            ./images/personmobile@2x.png 2x,
            ./images/personmobile@1x.png 1x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/personmobile@1x.png" />
      </picture>
      <p class="comment_card_text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <p class="comment_card_point">Emily, Los Angeles</p>
      <svg class="comment_icon">
        <use href =""></use>
      </svg>
    </div>
    <ul class="comment_list">
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Cafe</h5>
        <h6 class="comment_list_item_point">Chicago</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        <ul class ="comment_contact_list">
          <li class ="comment_contact_list_item"><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li class ="comment_contact_list_item"><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Food Truck</h5>
        <h6 class="comment_list_item_point">Los Angeles</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        <ul>
          <li><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="comment_list_item">
        <h5 class="comment_list_item_title">Cafe</h5>
        <h6 class="comment_list_item_point">Chicago</h6>
        <p class="comment_list_item_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <h6 class="comment_list_item_days">Monday - Friday</h6>
        <p class="comment_list_item_time">06:00 AM - 10:00 PM</p>
        <h6 class="comment_list_item_days">Saturday - Sunday</h6>
        <p class="comment_list_item_time">08:00 AM - 16:00 PM</p>
        <ul class ="comment_contact_list">
          <li class ="comment_contact_list_item"><a href="tel:+610383766284" class ="comment_contact_list_item_link">+61(0) 383 766 284</a></li>
          <li class ="comment_contact_list_item"><a href="mailto:noreply@envato.com" class ="comment_contact_list_item_link">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class ="comment_button_list">
      <li class ="comment_button_list_item">
    <button type ="button" class ="comment_button_list_item_button">Our locations</button>
    </li>
    <li class ="comment_button_list_item">
    <button type ="button" class ="comment_button_list_item_button">Franchise</button>
    </li>
    </ul>
  </div>
</section>
