    <header class="header">
      <div class="container header_position">
        <a href="#" class="logo">
          <img src="./images/logo_ice.svg" />
        </a>
        <nav class="navigation">
          <ul class="navigation_list">
            <li class="navigation_item">
              <a href="#" class="navigation_link">Home</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">About Us</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">How it's Made?</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">Our Products</a>
            </li>
            <li class="navigation_item">
              <a href="#" class="navigation_link">Contact</a>
            </li>
          </ul>
        </nav>
        <button type="button" class ="header_button">Buy now</button>
      </div>
    </header>
