.footer {
    background-image: url("../images/pinkbackground.png");
    background-position-y:bottom;
    background-size: 1px;
}
.footer_title {
    font-family: var(--second-family);
font-weight: 400;
font-size: 18px;
text-transform: uppercase;
color: #ffa5ba;
}
.footer_title_red {
    font-family: var(--second-family);
font-weight: 400;
font-size: 34px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #d41443;
margin-bottom: 43px;
}
.footer_list {
    display: flex;
    column-gap: 28.24px;
    justify-content: right;
    margin-bottom: 46px;
}
.footer_list_item {
    width: 32px;
    height: 32px;
    border-radius: 100%;
background-color: #fea5bb;
}
.footer_contact {
    font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
line-height: 1.86;
text-align: right;
color: #000;
border-bottom: 1px solid #e1e1e1;
padding-bottom: 43px;
}
.footer_contact_link {
    color: #d41443;
}
.footer_copyright {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 1.52;
text-align: center;
color: #907e82;
margin-top: 22px;
margin-bottom: 25px;
}